# Ignore node_modules in the root directory
node_modules/

# Ignore node_modules in the client directory
client/node_modules/

# Ignore node_modules in the server directory
server/node_modules/

# Ignore other files or directories as needed

# Ignore the .env file
server/.env
``` 
